@import "./polices.scss";
@import "./variables.scss";
@import "./page_deux.scss";

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


/* $couleur_gris_fonce: #e6e6e6;
$couleur_gris_clair: #f7f7f7;
$couleur_gris_footer: #1a1a1a;
$couleur_gris_logo: #737373;
$couleur_primaire: #9356DC;
$couleur_secondaire: #FF79DA;
$couleur_tertiaire: #99E2D0; */



@mixin texte_gras {
    font-weight: 400;
}

.header_page_principale {
    height: 70px;
    padding-top: 10px; /* c'est pour créer un espace en haut plus important qu'en bas comme sur la maquette */
    display: flex;
    justify-content: center;
    align-items: center;
    #logo {
        font-size: 0; /* grâe à l'inspecteur d'éléments j'ai pu voir qu'il y avait bizzarement un font-size qui créait un léger espacement en bas du logo, donc en le mettant sur zero, cela résoud le problème */
    }    
    img {
        width: 160px;
        /*border: 1px solid black;*/
    }
}

.formulaire-localisation {
    &__div {
    height: 50px;
    background-color: $couleur_gris_fonce;
    /*border-top: 1px solid #737373 #f2f2f2;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: linear-gradient;
    }
    &__icone {
        margin-right: 10px;
        color:  #262626;
    }
    &__ville
    {
        border: none;
        background-color: $couleur_gris_fonce;
        font-size: 1em;
        font-weight: 700;
        color:  #262626;
        width: 140px;
    }
}

#section-une {
    text-align: center;
    padding-bottom: 50px;
    background-color: $couleur_gris_clair;
    h1 {
        margin: auto; /* pour centrer le texte */
        /*display: flex;
        justify-content: center;*/
        margin-top: 40px;
        width: 70%;
        padding-bottom: 15px;
    }
    p {
        margin: auto; /* pour centrer le texte */
        display: flex;
        width: 85%;
        justify-content: center;
    }
}

#bouton-explorer {
    text-decoration: none;
    margin: auto;
    margin-top: 30px;
    width: 230px;
    height: 50px;
    background: linear-gradient($couleur_secondaire, $couleur_primaire);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        color: #ffffff;
        font-weight: 500;
    }
}


#section-deux {
    padding-bottom: 50px;
    padding-left: 15px; /* c'est pour créer un espacement plus important à gauche des boutons comme sur la  maquette (j'aurai pu reduire le pourcentages des boutons à 85% et mettre une margin-left de 20px - et c'est ce que j'avais fait - mais mettre un padding-left à la section est plus lisible et simple à relire et à comprendre */ 
    h2 {
        margin-left: 12px;
        margin-top: 0;
        padding-top: 25px;
    }    
}

.boutons-fonctionnement {
    &__div{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;       
    }
    a {
        text-decoration: none;
        color: #000000;
    }  
    &__bouton {
        display: flex;
        align-items: center;
        background-color: $couleur_gris_clair;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
        width: 90%;
        border-radius: 20px;
        height: 65px;
      
    }
    &__numéro {
        margin-left: -10px;
        background-color: $couleur_primaire;
        padding: 2px 7px;
        border-radius: 50px;
        color: #ffffff;
        font-weight: 500;
        font-size: 0.9rem;
    }
    & i
    {
        color: $couleur_gris_logo;
        margin-left: 30px;
        margin-right: 20px;
    }
}


#section-trois {
    background-color: $couleur_gris_clair;
    padding-bottom: 40px;
    h2 {
        margin-left: 20px;
        padding-top: 50px; 
        margin-top: 0;
    }
}

.cards-restaurants {
    &__div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    }
    &__card {
        background-color: #ffffff;
        width: 90%;
        height: 210px;
        border-radius: 20px;
        margin-bottom: 20px;
        text-decoration: none;
        position: relative;
    }
    &__image {
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
    &__nouveau {
        position: absolute; /* j'ai trouvé comment faire ici : https://www.w3schools.com/howto/howto_css_image_text.asp */
        top: -3px;
        right: 20px;
        background-color: #ccffdd;
        color: #00b36b;
        font-weight: 500;
        padding: 8px;
        border-radius: 3px;
    }
}

.card-restaurant-informations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
        color: black;
        margin: 5px 10px;
    }
    p {
        color: black;
        margin: 5px 10px;
    }
    i {
        color: red;
        margin-right: 20px;
        font-size: 1.5em;
    }
}

@mixin linear_gradient {
    background: linear-gradient($couleur_secondaire, $couleur_primaire);
}

i:hover {
    background: linear-gradient($couleur_secondaire, $couleur_primaire);
}

footer {
    background-color: $couleur_gris_footer;
    padding-left: 20px;
    height: 210px;
    p {
        font-family: 'Shrikhand', cursive;
        font-size: 1.2em;
        margin-top: 0px; /* je mets ça sinon il y a un espace entre la dernère section et le footer */
        padding-top: 30px;
        margin-left: 10px;
    }
    a {
    text-decoration: none;
    color: white;
    }
    ul {
        margin-left: 10px;
        padding: 0;
    }
    li {
    list-style-type: none;
    color: white;
    margin-bottom: 7px;
    }
    i {
        font-size: 1em;
        margin-right: 10px;
    }
}


/* @media screen and (min-width: 1024px){
    #boutons_section_deux {
        height: auto;
        display: flex;
        flex-direction: row;
        }      
    
        .bouton_fonctionnement {
            
            background-color: blue;
            box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
            width: 90%;
            border-radius: 20px;
            height: 65px;
          
        }
        .chiffre_bouton_fonctionnement {
            margin-left: -10px;
            background-color: $couleur_primaire;
            padding: 2px 7px;
            border-radius: 50px;
            color: #ffffff;
            font-weight: 500;
            font-size: 0.9rem;
        }
        
        #section_trois #cards_section_trois {
        width: 100%;
        border: 1px solid black;
        display: flex;
        flex-direction: row;
    }
    .card_acceuil_restaurants {
        width: 600px;
        border: 1px solid black;
    }
}


@media screen and (min-width: 1440px){
    main {
        width: 1400px;
        margin: auto;
    }
    header {
        width: 100%;
    }
} */

