@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap'); /* font-family: 'Shrikhand', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'); /* font-family: 'Roboto', sans-serif; */


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 1.5em; /* même taille que celle de base*/
}
  

h3 {
    font-weight: 700;
    font-size: 1em;
}

p {
    font-weight: 300;
}

$couleur_gris_fonce: #e6e6e6;
$couleur_gris_clair: #f2f2f2;
$couleur_gris_footer: #1a1a1a;
$couleur_gris_logo: #737373;


@mixin texte_gras {
    font-weight: 400;
}

header {
    display: flex;
    justify-content: center;
    #logo {
        font-size: 0; /* grâe à l'inspecteur d'éléments j'ai pu voir qu'il y avait bizzarement un font-size qui créait un léger espacement en bas du logo, donc en le mettant sur zero, cela résoud le problème */
    }    
    img {
        margin-top: 25px;
        margin-bottom: 15px;
        width: 150px;
        /*border: 1px solid black;*/
    }
}

#localisation {
    height: 50px;
    background-color: $couleur_gris_fonce;
    /*border-top: 1px solid #737373 #f2f2f2;*/
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        margin-right: 15px;
        color:  #262626;
    }
    h4 {
        color:  #262626;
    }
}

#section_une {
    text-align: center;
    padding-bottom: 50px;
    background-color: $couleur_gris_clair;
    h1 {
        margin: auto; /* pour centrer le texte */
        /*display: flex;
        justify-content: center;*/
        margin-top: 40px;
        width: 70%;
        padding-bottom: 15px;
    }
    p {
        margin: auto; /* pour centrer le texte */
        display: flex;
        width: 85%;
        justify-content: center;
    }
}

#bouton_explorer {
    margin: auto;
    margin-top: 30px;
    width: 230px;
    height: 50px;
    background-color: violet;
    border-radius: 30px;
    display: flex;
    align-items: center;
    p {
        color: #ffffff;
        font-weight: 500;
    }
}


#section_deux {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    h2 {
        margin-left: 20px;
    }               
    .chiffre_bouton_fonctionnement {
        margin-left: -10px;
        background-color: violet;
        padding: 2px 7px;
        border-radius: 50px;
        color: #ffffff;
        font-weight: 500;
        font-size: 0.9rem;
    }
    .bouton_fonctionnement {
        display: flex;
        align-items: center;
        background-color: $couleur_gris_clair;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
        width: 90%;
        border-radius: 20px;
        height: 65px;
    }
    & i
    {
        color: $couleur_gris_logo;
        margin-left: 30px;
        margin-right: 20px;
    }
}


#section_trois {
    background-color: $couleur_gris_clair;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
}

.card_acceuil {
    background-color: #ffffff;
    width: 80%;
    height: 210px;
    border-radius: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    img {
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
    .card_acceuil_informations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    h3 {
        color: black;
        margin: 5px 10px;
    }
    p {
        color: black;
        margin: 5px 10px;
    }
    i {
        color: #000000;
        margin-right: 20px;
        font-size: 1.5em;
    }
}

footer {
    background-color: $couleur_gris_footer;
    color: white;
    padding-left: 20px;
    
    h3 {
        font-family: 'Shrikhand', cursive;
        font-size: 1.2em;
        margin-top: 0px;
        padding-top: 10px;
    }
}