@import "./variables.scss";
@import "./polices.scss";

.header_pages_restaurants {
    height: 70px;
    padding-top: 10px; /* c'est pour créer un espace en haut plus important qu'en bas comme sur la maquette */
    display: flex;
    justify-content: center;
    align-items: center;
    /*#logo {
        font-size: 0; /* grâe à l'inspecteur d'éléments j'ai pu voir qu'il y avait bizzarement un font-size qui créait un léger espacement en bas du logo, donc en le mettant sur zero, cela résoud le problème */
    /*} */ 
    i {
        position: absolute;
        left: 0px;
        top: 35px;
        margin-left: 30px;
        font-size: 1.3em;
        color: #000000;
    }  
    img {
        width: 160px;
        /*border: 1px solid black;*/
    }
}

.section_img {
    img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    }
}

.section-pages-restaurants { 
    background-color: $couleur_gris_clair;
    padding-bottom: 30px;
    position: relative;
    top: -40px;
    margin-bottom: -40px; /* c'est pour annuler l'espace qui se crée en bas à cause de la position absolute à -40px en haut de la section */
    border-radius: 40px 40px 0 0;
    /*border-top: 1px solid $couleur_gris_clair;*/
}

.titres-pages-restaurants {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-family: 'Shrikhand', cursive;
        font-weight: normal;
        margin-left: 15px;
    }
    i {
        font-size: 1.5em;
        margin-right: 40px;
    }
}

.articles-pages-restaurants {
    margin-bottom: 30px;
    h2 {
        font-weight: 300;
        font-size: 1em;
        padding-left: 15px;
        margin: 0;
        /*text-decoration: underline 3px green;
        text-underline-offset: 8px;
        margin-bottom: 20px;*/
    }
    .h2_souligne {
        margin: 5px 0 13px 15px;
        width: 40px;
        border-top: 3px solid green;
    }
}

.boutons-pages-restaurants {
    display: flex;
    flex-direction: column;
    &__bouton {
    background-color: #ffffff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
    width: 90%;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 12px;
    text-decoration: none;
    color: #000000;
    display: inline-block;
    position: relative;
    overflow: hidden;
    /*transition: transform 400ms;*/
    /*cursor: pointer;*/
    }
    /*&__bouton:hover {
        transform: scale(1.15);
    }*/
    h3 {
        font-size: 1.1em;
        padding-top: 8px;
        padding-left: 8px;
        margin: 0
    }
    &__informations {
        display: flex;
        justify-content: space-between;
        flex: 1;
    }
    p {
        font-size: 0.9em;
        margin: 0;
        padding-top: 2px;
        padding-left: 8px;
        padding-bottom: 8px;
    }
    p:nth-child(1) {
        /*width: 290px;
        height: 10px;
        overflow: hidden;*/
        white-space: nowrap;
        overflow: hidden;     /* j'ai trouvé cette technique ici : https://www.digitalocean.com/community/tutorials/css-prevent-line-break-fr */
        text-overflow: ellipsis;
    }
    &__prix {
        font-weight: 700;
        padding-right: 20px;
        transition-duration: 400ms;
        transition-timing-function: ease;
    }
    &__prix:hover {
        /*padding-right: 30px;*/
        /*transition-duration: 800ms;
        transition-timing-function: ease;*/
    }
    &:hover + &__remplissage-droite{

    }
    &__bouton:hover &__remplissage-droite {
        opacity: 1;
        right: 0;
        transition-duration: 300ms;
        transition-timing-function: ease;
    }
    &__bouton:hover &__prix {
        margin-right: 60px;
    }
    &__remplissage-droite {
        background-color: green;
        border-radius: 0px 15px 15px 0;
        width: 55px;
        height: 57px;
        position: absolute;
        top: 0px;
        right: -200px;
        /*opacity: 0;*/
        transition-timing-function: ease;
        transition-duration: 500ms;
       /* margin-right: -70px;/*

        /*opacity: 0;*/

        /*transform-origin: 0% 50%;
        transform: scaleX(0);
        transition: transform 1000ms;*/
        display: flex; /* pour l'icone */
        align-items: center;
        justify-content: center;
    }
    &__icone-remplissage {
        display: inline-block;
        color: white;
        font-size: 1.4em;
        rotate: 90deg;
        transition: transform 800ms ease-in-out;
    }
    &__bouton:hover &__icone-remplissage {
         transform: rotate(270deg);
    }
    /*&__remplissage-droite:hover {
    /*display: none;*/
   /* display: flex;
    transform: scaleX(1);
    }*/
}



#bouton_commander {
    text-decoration: none;
    margin: auto;
    margin-top: 30px;
    width: 150px;
    height: 50px;
    background: linear-gradient($couleur_secondaire, $couleur_primaire);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        color: #ffffff;
        font-weight: 500;
    }
}


