@import "./utils/variables";
@import "./base/polices";
@import "./utils/mixins";


.header_pages_restaurants {
    height: 70px;
    padding-top: 10px; /* c'est pour créer un espace en haut plus important qu'en bas comme sur la maquette */
    display: flex;
    justify-content: center;
    align-items: center;
    /*#logo {
        font-size: 0; /* grâe à l'inspecteur d'éléments j'ai pu voir qu'il y avait bizzarement un font-size qui créait un léger espacement en bas du logo, donc en le mettant sur zero, cela résoud le problème */
    /*} */ 
    i {
        position: absolute;
        left: 0px;
        top: 35px;
        margin-left: 30px;
        font-size: 1.3em;
        color: #000000;
    }  
    img {
        width: 160px;
        /*border: 1px solid black;*/
    }
}

.section_img {
    img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    @include media-queries-tablette-bureau {
        height: 300px;
    }
    }
}

.section-pages-restaurants { 
    background-color: $couleur_gris_clair;
    padding-bottom: 30px;
    position: relative;
    top: -40px;
    margin-bottom: -40px; /* c'est pour annuler l'espace qui se crée en bas à cause de la position absolute à -40px en haut de la section */
    border-radius: 40px 40px 0 0;
    /*border-top: 1px solid $couleur_gris_clair;*/
    @include media-queries-tablette-bureau {
        max-width: 1200px;
        margin: auto;
    }
}

.div-articles-pages-restaurants {
    @include media-queries-tablette-bureau {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
    }  
}

.titre-pages-restaurants {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-family: 'Shrikhand', cursive;
        font-weight: normal;
        margin-left: 15px;
    }
    &__icone-vide {
        font-size: 1.5em;
        margin-right: 40px;
        color: black;
        opacity: 1;
        transition: all 0.3s ease-in;
    }
    &__icone-remplie {
        font-size: 1.5em;
        position: absolute;
        right: 40px;
        opacity: 0;
        transition: all 0.3s ease-in;
        text-decoration: none;
        color: transparent;
        background-clip: text;
        background: linear-gradient(#9356DC, #FF79DA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__div-favoris:hover &__icone-remplie {
        opacity: 1;
    }
    &__div-favoris:hover &__icone-vide {
        opacity: 0;
    }
}


.articles-pages-restaurants {
    margin-bottom: 30px;
    h2 {
        font-weight: 300;
        font-size: 1em;
        padding-left: 15px;
        margin: 0;
        /*text-decoration: underline 3px green;
        text-underline-offset: 8px;
        margin-bottom: 20px;*/
        @include media-queries-tablette-bureau {
            padding-left: 0;
        }
    }
    .h2_souligne {
        margin: 5px 0 13px 15px;
        width: 40px;
        border-top: 3px solid $couleur_tertiaire;
        @include media-queries-tablette-bureau {
            margin-left: 0;
        }
    }
}

.boutons-pages-restaurants {
    display: flex;
    flex-direction: column;
    @include media-queries-tablette-bureau {
        width: 312px;
    }
    &__bouton {
    background-color: #ffffff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
    width: 90%;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 12px;
    text-decoration: none;
    color: #000000;
    display: inline-block;
    position: relative;
    overflow: hidden;
    /*transition: transform 400ms;*/
    /*cursor: pointer;*/
    animation: chargement-boutons-pages-restaurants 750ms forwards;
    opacity: 0;
    @include media-queries-tablette-bureau {
        width: 100%;
    }
    }
    /*&__bouton:hover {
        transform: scale(1.15);
    }*/
    h3 {
        font-size: 1.1em;
        padding-top: 8px;
        padding-left: 8px;
        margin: 0
    }
    &__informations {
        display: flex;
        justify-content: space-between;
        flex: 1;
    }
    p {
        font-size: 0.9em;
        margin: 0;
        padding-top: 2px;
        padding-left: 8px;
        padding-bottom: 8px;
    }
    p:nth-child(1) {
        /*width: 290px;
        height: 10px;
        overflow: hidden;*/
        white-space: nowrap;
        overflow: hidden;     /* j'ai trouvé cette technique ici : https://www.digitalocean.com/community/tutorials/css-prevent-line-break-fr */
        text-overflow: ellipsis;
    }
    &__prix {
        font-weight: 700;
        padding-right: 20px;
        transition-duration: 300ms;
        transition-timing-function: ease;
    }
    &__prix:hover {
        /*padding-right: 30px;*/
        /*transition-duration: 800ms;
        transition-timing-function: ease;*/
    }
    &__bouton:hover &__remplissage-droite {
        opacity: 1;
        right: 0;
        transition-duration: 300ms;
        transition-timing-function: ease;
    }
    &__bouton:hover &__prix {
        margin-right: 60px;
    }
    &__remplissage-droite {
        background-color: $couleur_tertiaire;
        border-radius: 0px 15px 15px 0;
        width: 55px;
        height: 57px;
        position: absolute;
        top: 0px;
        right: -100px;
        opacity: 0; /* avant d'arriver on ne voit pas sa transparence mais quand le curseur de la souris sort du bouton, on voit un effet de transparence s'appliquer au remplissage un peu après avoir fini de disparaitre, chose assez esthétique, je vais demander au mentor si je l'enlève pour etre parfaitement comme dans la vidéo de l'effet dans la maquette ou si je le laisse */
        transition-timing-function: ease;
        transition-duration: 500ms;
       /* margin-right: -70px;/*

        /*opacity: 0;*/

        /*transform-origin: 0% 50%;
        transform: scaleX(0);
        transition: transform 1000ms;*/
        display: flex; /* pour l'icone */
        align-items: center;
        justify-content: center;
    }
    &__icone-remplissage {
        display: inline-block;
        color: white;
        font-size: 1.4em;
        rotate: 90deg;
        transition: transform 500ms ease-in-out;
    }
    &__bouton:hover &__icone-remplissage {
         transform: rotate(270deg);
    }
    /*&__remplissage-droite:hover {
    /*display: none;*/
   /* display: flex;
    transform: scaleX(1);
    }*/
}

@keyframes chargement-boutons-pages-restaurants {
    from {
        opacity: 0;
        transform: translatey(20px); /* avant il y avait margin-bottom: 25px; */
    }  
    to {
        opacity: 1;
        transform: translatey(0px); /* avant il y avait margin-bottom: 12px; */
    }
}  


/*@keyframes chargement-boutons-pages-restaurants {
    0% {
        transform: scaleY(0.5);
        
    }
    100% {
        transform: scaleY(1.0);
    }
}*/


@keyframes bars {
    0% {
        transform: scaleY(0.5);
        
    }
    100% {
        transform: scaleY(1.0);
    }
}

.boutons-pages-restaurants__bouton_plat {
    animation-delay: 8s;
}


.boutons-pages-restaurants__bouton--1 {
    animation-delay: 100ms;
}
.boutons-pages-restaurants__bouton--2 {
    animation-delay: 200ms;
}
.boutons-pages-restaurants__bouton--3 {
    animation-delay: 300ms;
}
.boutons-pages-restaurants__bouton--4 {
    animation-delay: 400ms;
}
.boutons-pages-restaurants__bouton--5 {
    animation-delay: 500ms;
}
.boutons-pages-restaurants__bouton--6 {
    animation-delay: 600ms;
}
.boutons-pages-restaurants__bouton--7 {
    animation-delay: 700ms;
}
.boutons-pages-restaurants__bouton--8 {
    animation-delay: 800ms;
}
.boutons-pages-restaurants__bouton--9 {
    animation-delay: 900ms;
}
.boutons-pages-restaurants__bouton--10 {
    animation-delay: 1000ms;
}



#bouton_commander {
    text-decoration: none;
    margin: auto;
    margin-top: 30px;
    width: 150px;
    height: 50px;
    background: linear-gradient($couleur_secondaire, $couleur_primaire);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition-duration: 300ms;
    transition-timing-function: ease;
    @include media-queries-tablette-bureau {
        margin-top: 0;
    }
    p {
        color: #ffffff;
        font-weight: 500;
    }
    &:hover {
        opacity: 0.9;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.3);
    }
}


