@import "./variables.scss";
@import "./polices.scss";

.header_pages_restaurants {
    height: 70px;
    padding-top: 10px; /* c'est pour créer un espace en haut plus important qu'en bas comme sur la maquette */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*#logo {
        font-size: 0; /* grâe à l'inspecteur d'éléments j'ai pu voir qu'il y avait bizzarement un font-size qui créait un léger espacement en bas du logo, donc en le mettant sur zero, cela résoud le problème */
    /*} */ 
    i {
        margin-left: 30px;
        font-size: 1.3em;
        color: #000000;
    }  
    img {
        width: 160px;
        margin-right: 50%;
        /*border: 1px solid black;*/
    }
}

.section_img {
    img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    }
}
.section_page_deux { 
    background-color: $couleur_gris_clair;
    padding-bottom: 30px;
    position: relative;
    top: -40px;
    margin-bottom: -40px; /* c'est pour annuler l'espace qui se crée en bas à cause de la position absolute à -40px en haut de la section */
    border-radius: 40px 40px 0 0;
    border-top: 1px solid $couleur_gris_clair;
    .titres_pages_restaurants {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.titres_pages_restaurants {
    h1 {
        font-family: 'Shrikhand', cursive;
        font-weight: normal;
        margin-left: 15px;
    }
    i {
        font-size: 1.5em;
        margin-right: 40px;
    }
}

.articles_pages_restaurants {
    margin-bottom: 30px;
    h2 {
        font-weight: 300;
        font-size: 1em;
        margin-left: 15px;
        text-decoration: underline 3px green;
        text-underline-offset: 8px;
        margin-bottom: 20px;
    }
    .card_e_p_d {
        background-color: #ffffff;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
        width: 90%;
        border-radius: 15px;
        margin: auto;
        margin-bottom: 12px;
    }
}

.card_e_p_d {
    text-decoration: none;
  
    h3 {
        font-size: 1.1em;
        padding-top: 8px;
        padding-left: 8px;
        margin: 0
    }
    .informations_prix {
        display: flex;
        justify-content: space-between;
    }
    p {
        font-size: 0.9em;
        margin: 0;
        padding-top: 2px;
        padding-left: 8px;
        padding-bottom: 8px;
    }
    p:nth-child(1) {
        /*width: 290px;
        height: 10px;
        overflow: hidden;*/
        white-space: nowrap;
        overflow: hidden;     /* j'ai trouvé cette technique ici : https://www.digitalocean.com/community/tutorials/css-prevent-line-break-fr */
        text-overflow: ellipsis;
    }
    .prix {
        font-weight: 700;
        margin-right: 20px;
    }
}

#bouton_commander {
    text-decoration: none;
    margin: auto;
    margin-top: 30px;
    width: 150px;
    height: 50px;
    background: linear-gradient($couleur_secondaire, $couleur_primaire);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        color: #ffffff;
        font-weight: 500;
    }
}