$couleur_gris_fonce: #eaeaea; /* avant il y avait #e6e6e6 */
$couleur_gris_clair: #f6f6f6; /* avant il y avait #f7f7f7 */
$couleur_gris_footer: #1a1a1a;
$couleur_gris_logo: #737373;
$couleur_primaire: #9356DC;
$couleur_secondaire: #FF79DA;
$couleur_tertiaire: #99E2D0;


/*$dimension-responsive: (tablette: 768px);

$dimension-responsive: (mobile: 400px); */

