$couleur_gris_fonce: #e6e6e6;
$couleur_gris_clair: #f7f7f7;
$couleur_gris_footer: #1a1a1a;
$couleur_gris_logo: #737373;
$couleur_primaire: #9356DC;
$couleur_secondaire: #FF79DA;
$couleur_tertiaire: #99E2D0;



