@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap'); /* font-family: 'Shrikhand', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap'); /* font-family: 'Roboto', sans-serif; */

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

