@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  position: relative;
}

/* font-family: 'Shrikhand', cursive; */
/* font-family: 'Roboto', sans-serif; */
h1 {
  font-size: 1.5em; /* même taille que celle de base*/
}

h3 {
  font-weight: 700;
  font-size: 1em;
}

p {
  font-weight: 300;
}

/* avant il y avait #e6e6e6 */
/* avant il y avait #f7f7f7 */
/*$dimension-responsive: (tablette: 768px);

$dimension-responsive: (mobile: 400px); */
/* avant il y avait #e6e6e6 */
/* avant il y avait #f7f7f7 */
/*$dimension-responsive: (tablette: 768px);

$dimension-responsive: (mobile: 400px); */
/* @mixin media-queries-mobile {
    @media screen and (min-width: map-get($dimension-responsive, mobile)){
        @content;
    }
} */
@keyframes chargement-fond {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0; /*avant il y avait 0.8 je ne sais pas trop pourquoi */
    /*position: relative;*/
    /*display: none;*/
    right: -3000px; /* je peux aussi mettre visibility: hidden; pour enlever l'affichage de l'écran de chargement puisque juste avec une opacity de 0, il reste en premier plan et bouche les hover des boutons */
  }
}
@keyframes lds-ring {
  0% {
    right: 0;
    transform: rotate(0deg);
  }
  100% {
    right: 0;
    transform: rotate(360deg);
  }
}
@keyframes myAnim-2 {
  0% {
    opacity: 1;
    opacity: 0; /* avant il y avait 1. mettre deux opacity ça fonctionne*/
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.page-chargement {
  position: fixed; /* ça permet de rendre le logo dans la div centré même si je fais défiler la page */
  background-color: #eaeaea;
  width: 100%;
  height: 100%;
  animation: chargement-fond 1s linear; /* avanr il y avait 13s avant il y avait 30s (mais j'ai mis 1s pour ne pas avoir a attendre le chargement de la page lors de modifications pour en voir les résultats */
  animation-fill-mode: forwards; /* est-ce utile ? */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; /* c'est pour le positionner au dessus de tous les autres elements en position absolute tels que les cards */
}
.page-chargement__titre-div {
  padding: 0 10px; /* c'est pour que le d de ohmyfooD ne soit pas un peu coupé, et j'ai mis le padding à droite et gauche pour le texte reste centré sur la page */
  font-family: "Shrikhand", cursive;
  font-size: 3em;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*-webkit-animation: rotate-scale-up 0.65s linear both;
  animation: rotate-scale-up 0.65s linear both;
     opacity: 1;*/
  /*width: 260px; /* oh 53px ; my 134px ; food 260px*/
  animation: myAnim-2 2s infinite normal forwards; /* j'ai mis "infinite en nombre de répétition pour que ce soit cohérent avec la volonté de créer un loader qui soit adapté à la vitese de connexion de l'utilisateur, donc là dans mon cas, comme le loader n'est pas géré par du javascript, il suffit de déterminer une durée d'affichage pour la div page-chargement et tou les élément à l'intérérieur d'adapteront en durée */
  position: absolute;
  opacity: 0;
  animation-delay: 2.5s;
  /*span:nth-child(1) {
      opacity: 0;
      animation: texte-un 6s;
  }*/
}
.page-chargement__partie-une {
  animation: myAnim 2s ease 0s 1 normal forwards;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px; /* si je mets par exemple 4px ça crée des points qui dournent */
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) 2;
  border-color: #FF79DA transparent transparent;
  /*border-image: linear-gradient(#9356DC, #FF79DA);*/
  right: -3000px;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.formulaire-localisation {
  /*box-shadow: inset 0 7px 9px -7px #000000;*/
  /*box-shadow: inset 0 1px 6px 0px rgba(0,0,0,0.5);*/
  box-shadow: inset 0 8px 6px -7px rgba(0, 0, 0, 0.2);
  height: 50px;
  background-color: #eaeaea;
  /*border-top: 1px solid #737373 #f2f2f2;*/
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: linear-gradient;
}
.formulaire-localisation__icone {
  margin-right: 10px;
  color: #4d4d4d;
}
.formulaire-localisation__ville {
  border: none;
  background-color: #eaeaea;
  font-size: 0.97em;
  font-weight: 700;
  color: #4d4d4d;
  width: 140px;
}

.header_page_principale {
  height: 55px;
  padding-top: 10px; /* c'est pour créer un espace en haut plus important qu'en bas comme sur la maquette */
  display: flex;
  justify-content: center;
  align-items: center;
  /*box-shadow: 0 0 1.5rem rgb(0 0 0 / 25%);*/
}
.header_page_principale #logo {
  font-size: 0; /* grâe à l'inspecteur d'éléments j'ai pu voir qu'il y avait bizzarement un font-size qui créait un léger espacement en bas du logo, donc en le mettant sur zero, cela résoud le problème */
}
.header_page_principale img {
  width: 165px;
  /*border: 1px solid black;*/
}

.header_pages_restaurants {
  height: 55px;
  padding-top: 10px; /* c'est pour créer un espace en haut plus important qu'en bas comme sur la maquette */
  display: flex;
  justify-content: center;
  align-items: center;
  /*#logo {
      font-size: 0; /* grâe à l'inspecteur d'éléments j'ai pu voir qu'il y avait bizzarement un font-size qui créait un léger espacement en bas du logo, donc en le mettant sur zero, cela résoud le problème */
  /*} */
}
.header_pages_restaurants i {
  position: absolute;
  left: 0px;
  top: 25px;
  margin-left: 30px;
  font-size: 1.3em;
  color: #404040;
}
.header_pages_restaurants img {
  width: 165px;
  /*border: 1px solid black;*/
}

@media screen and (min-width: 1300px) {
  #section-une-page-un {
    /* avant il y avait 1020px */
    /*margin: auto;
    width: 80%;
    max-width: 1190px;*/
    /*padding: 0 150px;*/
  }
}
#section-une-page-un h1 {
  margin: auto; /* pour centrer le texte */
  /*display: flex;
  justify-content: center;*/
  padding-top: 40px;
  width: 70%;
  padding-bottom: 15px;
}
#section-une-page-un .paragraphe-texte-section-un {
  margin: auto; /* pour centrer le texte */
  display: flex;
  width: 85%;
  justify-content: center;
  padding-bottom: 30px;
}

.div-texte-bouton-section-un {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
@media screen and (min-width: 1510px) {
  .div-texte-bouton-section-un {
    max-width: 1500px; /* avant il y avait 1300px mais comme l'écran s'étend à 1500px avant ce media querie c'étaitbizzare de le faire se retrécir donc j'ai bloqué la width à max 1500px plutôt que 1300px */
    margin: auto;
  }
}

/*#section-une-page-un {
    text-align: center;
    padding-bottom: 50px;
    background-color: $couleur_gris_clair;
    h1 {
        margin: auto; /* pour centrer le texte */
/*display: flex;
justify-content: center;*/
/*      margin-top: 40px;
      width: 70%;
      padding-bottom: 15px;
  }
  p {
      margin: auto; /* pour centrer le texte */
/*       display: flex;
        width: 85%;
        justify-content: center;
    }
} */
#bouton-explorer {
  text-decoration: none;
  margin: auto;
  /*margin-top: 30px;*/
  width: 230px;
  height: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition-timing-function: ease;
  transition-duration: 300ms; /* Si je le mets là la page subit un leger decalage vers le bas puis le haut lorsque l'on la raffraichit, et si je le mets dans le :hover ça ne le fait plus, or, il n'y à plus de transition lorsque le bouton revient a son opacité d'origine, c'est trop brutal, donc je vais demander l'avis du mentor */
}
#bouton-explorer p {
  color: #ffffff;
  font-weight: 500;
}
#bouton-explorer:hover {
  opacity: 0.9;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}

#section-deux-page-un {
  /*border: 1px solid black;*/
  /*border: 1px solid black;*/
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  #section-deux-page-un {
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1300px) {
  #section-deux-page-un {
    /* avant il y avait 1020px */
    padding: 0 100px;
  }
}
@media screen and (min-width: 1510px) {
  #section-deux-page-un {
    max-width: 1300px; /* j'ai mis 1300px pour avoir un résultat de 1500px au total (car la section à un padding right et left de 100px à un certain breakpoint) le résultat est vérifiable via l'inspecteur d'élément */
    margin: auto;
  }
}
#section-deux-page-un h2 {
  /*border: 1px solid black;*/
  /*border: 1px solid black;*/
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 25px;
  /*@include media-queries-mobile {
      display: flex;
      justify-content: center;
  }*/
}
@media screen and (min-width: 768px) {
  #section-deux-page-un h2 {
    margin-left: 50px;
  }
}
@media screen and (min-width: 1300px) {
  #section-deux-page-un h2 {
    /* avant il y avait 1020px */
    max-width: 1190px;
    margin: auto;
    padding-bottom: 20px; /* commme la margin n'y est plus à cause de la margin: auto; qui centre le titre, je la remplace par un padding-bottom: 20px;  */
  }
}

.div-section-deux-page-un-centrage-gauche-boutons-responsive-max {
  /*border: 1px solid black;*/
}
@media screen and (min-width: 1300px) {
  .div-section-deux-page-un-centrage-gauche-boutons-responsive-max {
    /* avant il y avait 1020px */
    max-width: 1180px;
    margin: auto;
    padding-left: 10px; /* c'est pour récréer un alignement vertical avec le titre et les autres divs de la page d'acceuil , chose visible si je mets un border noir à toutes pour vérifier que lors du responsive tout reste parfaitement aligné à gauche */
  }
}

.boutons-fonctionnement__div {
  /*border: 1px solid black;*/
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px; /* c'est pour que les numéros 1-3 sur les boutons ne soient pas hors de la div main bien alignés verticalement avec le titre de la section (ce qui crée un espace plus iportant à gauche qu'à droite comme cela est représenté sur la maquette */
  margin: 0 20px; /* c'est pour avoir la même configuration que les cards plus bas */
  /*@include media-queries-mobile {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      margin-left: 12px;
      height: auto;
  }*/
}
@media screen and (min-width: 768px) {
  .boutons-fonctionnement__div {
    height: auto;
    margin-left: 50px; /*c'est pour compenser le décentrage des boutons due à leur margin-right en responsive version tablette tablette et donc les avoir toujours centrés */
  }
}
@media screen and (min-width: 800px) {
  .boutons-fonctionnement__div {
    flex-direction: row;
    /*flex-wrap: wrap; c'est inutile dans la configuration actuelle */
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1300px) {
  .boutons-fonctionnement__div {
    /* avant il y avait 1020px */
    max-width: 1190px;
    margin: auto;
    padding: 0; /* il est désormais inutile à cette dimension d'écran et c'est pour éviter qu'un décalage se crée entre la longeur de cette div et des autres (titre de la section et titre et div de la section restaurants, c'était visible en mettant à tout un border: 1px solid black; et en arrivant à une certaine dimension de l'écran grâce au testeur de responsive de l'inspecteur d'éléments */
  }
}
.boutons-fonctionnement a {
  text-decoration: none;
  color: #000000;
}
.boutons-fonctionnement__bouton {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 310px;
  border-radius: 20px;
  height: 65px;
  transition-duration: 300ms;
  transition-timing-function: ease;
  /*@include media-queries-mobile {
      margin-right: 50px;
  }*/
  /*@include media-queries-tablette {
      width: 330px;                           C'est devenu inutile je pense.
  } */
}
@media screen and (min-width: 768px) {
  .boutons-fonctionnement__bouton {
    margin-bottom: 30px;
    margin-right: 40px;
  }
}
@media screen and (min-width: 800px) {
  .boutons-fonctionnement__bouton:nth-child(3) {
    margin-right: 30px;
  }
}
.boutons-fonctionnement__bouton:hover {
  /*background-color: $couleur_gris_fonce;*/
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  /*@include explorer-couleur-hover($couleur_primaire);*/
  background-color: #f2eafb;
}
.boutons-fonctionnement__numéro {
  margin-left: -10px;
  background-color: #9356DC;
  padding: 2px 7px;
  border-radius: 50px;
  color: #ffffff;
  font-weight: 500;
  font-size: 0.9rem;
}
.boutons-fonctionnement__icone {
  color: #737373;
  margin-left: 20px;
  margin-right: 20px;
}
.boutons-fonctionnement__bouton:hover .boutons-fonctionnement__icone {
  color: #9356DC;
}
.boutons-fonctionnement h3 {
  margin-right: 15px;
}
@media screen and (min-width: 800px) {
  .boutons-fonctionnement h3 { /* C'est pour que le texte ne se mette pas en une ligne à des moments différents */
    max-width: 160px;
  }
}
@media screen and (min-width: 990px) {
  .boutons-fonctionnement h3 { /* C'est pour que le texte se mette en une ligne au même moment */
    max-width: 180px;
  }
}

/*body {
    @include media-queries-bureau {
        max-width: 1500px; /* avant il y avait 1300px mais comme l'écran s'étend à 1500px avant ce media querie c'étaitbizzare de le faire se retrécir donc j'ai bloqué la width à max 1500px plutôt que 1300px */
/*  margin: auto;
    }
} */
#section-trois-page-un {
  /*border: 1px solid black;*/
  background-color: #f6f6f6;
  padding-bottom: 40px;
}
@media screen and (min-width: 1300px) {
  #section-trois-page-un {
    /* avant il y avait 1020px */
    padding: 0 100px;
  }
}
@media screen and (min-width: 1510px) {
  #section-trois-page-un {
    max-width: 1300px; /* j'ai mis 1300px pour avoir un résultat de 1500px au total (car la section à un padding right et left de 100px à un certain breakpoint) le résultat est vérifiable via l'inspecteur d'élément */
    margin: auto;
  }
}
#section-trois-page-un h2 {
  /*border: 1px solid black;*/
  margin-left: 20px;
  margin-bottom: 20px;
  padding-top: 50px;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  #section-trois-page-un h2 {
    margin-left: 50px;
  }
}
@media screen and (min-width: 1300px) {
  #section-trois-page-un h2 {
    /* avant il y avait 1020px */
    /*margin-left: 0;*/
    max-width: 1190px;
    /*margin: auto;*/
    /*padding-right: 30px;*/
    margin: auto;
    padding-bottom: 20px; /* commme la margin n'y est plus à cause de la margin: auto; qui centre le titre, je la remplace par un padding-bottom: 20px;  */
  }
}

.cards-restaurants {
  /*&__card:nth-child(4) {
      @include media-queries-bureau {
          width: 92%;
      }
  }*/
}
.cards-restaurants__div {
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 20px;
}
@media screen and (min-width: 768px) {
  .cards-restaurants__div {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 50px;
  }
}
@media screen and (min-width: 1300px) {
  .cards-restaurants__div {
    /* avant il y avait 1020px */
    max-width: 1190px;
    margin: auto;
  }
}
.cards-restaurants__card {
  background-color: #ffffff;
  width: 100%;
  height: 210px;
  border-radius: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  position: relative;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  /*@include media-queries-tablette-bureau {
      width: 100%;
      margin-bottom: 30px;
  }*/
}
@media screen and (min-width: 768px) {
  .cards-restaurants__card {
    /*width: 300px;*/
    width: 46.5%;
    margin-bottom: 30px;
  }
}
.cards-restaurants__image {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.cards-restaurants__nouveau {
  position: absolute; /* j'ai trouvé comment faire ici : https://www.w3schools.com/howto/howto_css_image_text.asp */
  top: 1px;
  right: 12px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: 500;
  font-size: 0.84em;
  padding: 5px 12px;
  border-radius: 3px;
}

.card-restaurant-informations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*i:hover {
      background: linear-gradient($couleur_secondaire, $couleur_primaire);
  }*/
}
.card-restaurant-informations h3 {
  color: black;
  margin: 5px 10px;
}
.card-restaurant-informations p {
  color: black;
  margin: 5px 10px;
}
.card-restaurant-informations__icone {
  color: red; /*linear-gradient(90deg, $couleur_primaire, $couleur_secondaire) */
  margin-right: 20px;
  font-size: 1.5em;
}
.card-restaurant-informations__icone-vide {
  font-size: 1.5em;
  margin-right: 20px;
  color: black;
  opacity: 1;
  transition: all 0.3s ease-in;
}
.card-restaurant-informations__icone-remplie {
  font-size: 1.5em;
  position: absolute;
  right: 20px;
  opacity: 0;
  transition: all 0.3s ease-in;
  text-decoration: none;
  color: transparent;
  background-clip: text;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-restaurant-informations__div-favoris:hover .card-restaurant-informations__icone-remplie {
  opacity: 1;
}
.card-restaurant-informations__div-favoris:hover .card-restaurant-informations__icone-vide {
  opacity: 0;
}

footer {
  background-color: #1a1a1a;
  padding-left: 20px;
  height: 210px;
}
footer p {
  font-family: "Shrikhand", cursive;
  font-size: 1.2em;
  margin-top: 0px; /* je mets ça sinon il y a un espace entre la dernère section et le footer */
  padding-top: 30px;
  margin-left: 10px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer ul {
  margin-left: 10px;
  padding: 0;
}
footer li {
  list-style-type: none;
  color: white;
  margin-bottom: 7px;
}
footer i {
  font-size: 1em;
  margin-right: 10px;
}

/* c'est le terminal sass qui m'a dit d'utiliser ça plutôt que de metttre 1000ms / 10 * $i pour l'animation de chargement des boutons */
.section_img img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
@media screen and (min-width: 1300px) {
  .section_img img {
    /* avant il y avait 1020px */
    height: 300px;
  }
}

.section-pages-restaurants {
  background-color: #f6f6f6;
  padding-bottom: 30px;
  position: relative;
  top: -40px;
  margin-bottom: -40px; /* c'est pour annuler l'espace qui se crée en bas à cause de la position absolute à -40px en haut de la section */
  border-radius: 40px 40px 0 0;
  /*border-top: 1px solid $couleur_gris_clair;*/
}
@media screen and (min-width: 768px) {
  .section-pages-restaurants {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1300px) {
  .section-pages-restaurants {
    /* avant il y avait 1020px */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1300px) {
  .div-articles-pages-restaurants {
    /* avant il y avait 1020px */
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }
}

.titre-pages-restaurants {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titre-pages-restaurants h1 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  margin-left: 15px;
}
.titre-pages-restaurants__icone-vide {
  font-size: 1.5em;
  margin-right: 40px;
  color: black;
  opacity: 1;
  transition: all 0.3s ease-in;
}
.titre-pages-restaurants__icone-remplie {
  font-size: 1.5em;
  position: absolute;
  right: 40px;
  opacity: 0;
  transition: all 0.3s ease-in;
  text-decoration: none;
  color: transparent;
  background-clip: text;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.titre-pages-restaurants__div-favoris:hover .titre-pages-restaurants__icone-remplie {
  opacity: 1;
}
.titre-pages-restaurants__div-favoris:hover .titre-pages-restaurants__icone-vide {
  opacity: 0;
}

.articles-pages-restaurants {
  margin-bottom: 30px;
}
.articles-pages-restaurants h2 {
  font-weight: 300;
  font-size: 1em;
  padding-left: 15px;
  margin: 0;
  /*text-decoration: underline 3px green;
  text-underline-offset: 8px;
  margin-bottom: 20px;*/
}
@media screen and (min-width: 1300px) {
  .articles-pages-restaurants h2 {
    /* avant il y avait 1020px */
    padding-left: 0;
  }
}
.articles-pages-restaurants .h2_souligne {
  margin: 5px 0 13px 15px;
  width: 40px;
  border-top: 3px solid #99E2D0;
}
@media screen and (min-width: 1300px) {
  .articles-pages-restaurants .h2_souligne {
    /* avant il y avait 1020px */
    margin-left: 0;
  }
}

.boutons-pages-restaurants {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  /*&__bouton:hover {
      transform: scale(1.15);
  }*/
  /*&__remplissage-droite:hover {
  /*display: none;*/
  /* display: flex;
   transform: scaleX(1);
   }*/
}
@media screen and (min-width: 1300px) {
  .boutons-pages-restaurants {
    /* avant il y avait 1020px */
    width: 312px;
  }
}
.boutons-pages-restaurants__bouton {
  background-color: #ffffff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 15px;
  margin-bottom: 12px;
  text-decoration: none;
  color: #000000;
  display: inline-block;
  position: relative;
  overflow: hidden;
  /*transition: transform 400ms;*/
  /*cursor: pointer;*/
  /*animation: chargement-boutons-pages-restaurants 750ms forwards; */
  animation: chargement-boutons-pages-restaurants 1200ms forwards;
  opacity: 0;
}
.boutons-pages-restaurants__bouton--1 {
  animation-delay: 120ms; /* c'est le terminal sass qui m'a dit d'utiliser ça plutôt que de metttre 1000ms / 10 * $i */
}
.boutons-pages-restaurants__bouton--2 {
  animation-delay: 240ms; /* c'est le terminal sass qui m'a dit d'utiliser ça plutôt que de metttre 1000ms / 10 * $i */
}
.boutons-pages-restaurants__bouton--3 {
  animation-delay: 360ms; /* c'est le terminal sass qui m'a dit d'utiliser ça plutôt que de metttre 1000ms / 10 * $i */
}
.boutons-pages-restaurants__bouton--4 {
  animation-delay: 480ms; /* c'est le terminal sass qui m'a dit d'utiliser ça plutôt que de metttre 1000ms / 10 * $i */
}
.boutons-pages-restaurants__bouton--5 {
  animation-delay: 600ms; /* c'est le terminal sass qui m'a dit d'utiliser ça plutôt que de metttre 1000ms / 10 * $i */
}
.boutons-pages-restaurants__bouton--6 {
  animation-delay: 720ms; /* c'est le terminal sass qui m'a dit d'utiliser ça plutôt que de metttre 1000ms / 10 * $i */
}
.boutons-pages-restaurants__bouton--7 {
  animation-delay: 840ms; /* c'est le terminal sass qui m'a dit d'utiliser ça plutôt que de metttre 1000ms / 10 * $i */
}
.boutons-pages-restaurants__bouton--8 {
  animation-delay: 960ms; /* c'est le terminal sass qui m'a dit d'utiliser ça plutôt que de metttre 1000ms / 10 * $i */
}
.boutons-pages-restaurants__bouton--9 {
  animation-delay: 1080ms; /* c'est le terminal sass qui m'a dit d'utiliser ça plutôt que de metttre 1000ms / 10 * $i */
}
.boutons-pages-restaurants__bouton--10 {
  animation-delay: 1200ms; /* c'est le terminal sass qui m'a dit d'utiliser ça plutôt que de metttre 1000ms / 10 * $i */
}
@media screen and (min-width: 1300px) {
  .boutons-pages-restaurants__bouton {
    /* avant il y avait 1020px */
    width: 100%;
  }
}
.boutons-pages-restaurants h3 {
  font-size: 1.1em;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 15px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden; /* j'ai trouvé cette technique ici : https://www.digitalocean.com/community/tutorials/css-prevent-line-break-fr */
  text-overflow: ellipsis;
}
.boutons-pages-restaurants__informations {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.boutons-pages-restaurants p {
  font-size: 0.9em;
  margin: 0;
  padding-top: 2px;
  padding-left: 8px;
  padding-bottom: 8px;
}
.boutons-pages-restaurants p:nth-child(1) {
  /*width: 290px;
  height: 10px;
  overflow: hidden;*/
  white-space: nowrap;
  overflow: hidden; /* j'ai trouvé cette technique ici : https://www.digitalocean.com/community/tutorials/css-prevent-line-break-fr */
  text-overflow: ellipsis;
}
.boutons-pages-restaurants__prix {
  font-weight: 700;
  padding-right: 20px;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
.boutons-pages-restaurants__prix:hover {
  /*padding-right: 30px;*/
  /*transition-duration: 800ms;
  transition-timing-function: ease;*/
}
.boutons-pages-restaurants__bouton:hover .boutons-pages-restaurants__remplissage-droite {
  opacity: 1;
  right: 0;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
.boutons-pages-restaurants__bouton:hover .boutons-pages-restaurants__prix {
  margin-right: 50px;
}
.boutons-pages-restaurants__bouton:hover h3 {
  margin-right: 35%; /* je mets ça pour que le texte subisse un effet caché avec trois petits points lorsque la partie check à droite est apparente, pour que ça ressemble à ce qui est indiqué sur la maquette, même si ça me parait étonnat que le texte soit caché si tôt, mais c'est sur la maquette */
}
.boutons-pages-restaurants__remplissage-droite {
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0;
  width: 55px;
  height: 57px;
  position: absolute;
  top: 0px;
  right: -100px;
  opacity: 0; /* avant d'arriver on ne voit pas sa transparence mais quand le curseur de la souris sort du bouton, on voit un effet de transparence s'appliquer au remplissage un peu après avoir fini de disparaitre, chose assez esthétique, je vais demander au mentor si je l'enlève pour etre parfaitement comme dans la vidéo de l'effet dans la maquette ou si je le laisse */
  transition-timing-function: ease;
  transition-duration: 500ms;
  /* margin-right: -70px;/*

   /*opacity: 0;*/
  /*transform-origin: 0% 50%;
  transform: scaleX(0);
  transition: transform 1000ms;*/
  display: flex; /* pour l'icone */
  align-items: center;
  justify-content: center;
}
.boutons-pages-restaurants__icone-remplissage {
  display: inline-block;
  color: white;
  font-size: 1.4em;
  rotate: 90deg;
  transition: transform 500ms ease-in-out;
}
.boutons-pages-restaurants__bouton:hover .boutons-pages-restaurants__icone-remplissage {
  transform: rotate(270deg);
}

/*@keyframes chargement-boutons-pages-restaurants {
    from {
        opacity: 0;
        transform: translatey(20px); /* avant il y avait margin-bottom: 25px; */
/* }  
 to {
     opacity: 1;
     transform: translatey(0px); /* avant il y avait margin-bottom: 12px; */
/*  }
}  */
@keyframes chargement-boutons-pages-restaurants {
  0% {
    opacity: 0;
  }
  20% { /* c'est pour qu'il y ait un moment plus long avant que les boutons apparaissent comme montré dans la maquette animations, mais je ne sais pas si laisser le 0% d'au-dessus est nécessaire */
    opacity: 0;
    transform: translatey(17px); /* avant il y avait tranlatey(20px). avant il y avait margin-bottom: 25px; */
  }
  100% {
    opacity: 1;
    transform: translatey(0px); /* avant il y avait margin-bottom: 12px; */
  }
}
/*@keyframes chargement-boutons-pages-restaurants {
    0% {
        transform: scaleY(0.5);

    }
    100% {
        transform: scaleY(1.0);
    }
}*/
@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
.boutons-pages-restaurants__bouton_plat {
  animation-delay: 8s;
}

/*.boutons-pages-restaurants__bouton--1 {
    animation-delay: 100ms;
}
.boutons-pages-restaurants__bouton--2 {
    animation-delay: 200ms;
}
.boutons-pages-restaurants__bouton--3 {
    animation-delay: 300ms;
}
.boutons-pages-restaurants__bouton--4 {
    animation-delay: 400ms;
}
.boutons-pages-restaurants__bouton--5 {
    animation-delay: 500ms;
}
.boutons-pages-restaurants__bouton--6 {
    animation-delay: 600ms;
}
.boutons-pages-restaurants__bouton--7 {
    animation-delay: 700ms;
}
.boutons-pages-restaurants__bouton--8 {
    animation-delay: 800ms;
}
.boutons-pages-restaurants__bouton--9 {
    animation-delay: 900ms;
}
.boutons-pages-restaurants__bouton--10 {
    animation-delay: 1000ms;
} */
#bouton_commander {
  text-decoration: none;
  margin: auto;
  margin-top: 30px;
  width: 150px;
  height: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
@media screen and (min-width: 1300px) {
  #bouton_commander {
    /* avant il y avait 1020px */
    margin-top: 0;
  }
}
#bouton_commander p {
  color: #ffffff;
  font-weight: 500;
}
#bouton_commander:hover {
  opacity: 0.9;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}

/*# sourceMappingURL=style.css.map */
