@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap"); /* font-family: 'Shrikhand', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"); /* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
h1 {
  font-size: 1.5em; /* même taille que celle de base*/
}

h3 {
  font-weight: 700;
  font-size: 1em;
}

h2 {
  font-size: 1.2em;
}

p {
  font-weight: 300;
}

/* font-family: 'Shrikhand', cursive; */
/* font-family: 'Roboto', sans-serif; */
h1 {
  font-size: 1.5em; /* même taille que celle de base*/
}

h3 {
  font-weight: 700;
  font-size: 1em;
}

h2 {
  font-size: 1.2em;
}

p {
  font-weight: 300;
}

.header_pages_restaurants {
  height: 70px;
  padding-top: 10px; /* c'est pour créer un espace en haut plus important qu'en bas comme sur la maquette */
  display: flex;
  justify-content: center;
  align-items: center;
  /*#logo {
      font-size: 0; /* grâe à l'inspecteur d'éléments j'ai pu voir qu'il y avait bizzarement un font-size qui créait un léger espacement en bas du logo, donc en le mettant sur zero, cela résoud le problème */
  /*} */
}
.header_pages_restaurants i {
  position: absolute;
  left: 0px;
  top: 35px;
  margin-left: 30px;
  font-size: 1.3em;
  color: #000000;
}
.header_pages_restaurants img {
  width: 160px;
  /*border: 1px solid black;*/
}

.section_img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.section-pages-restaurants {
  background-color: #f7f7f7;
  padding-bottom: 30px;
  position: relative;
  top: -40px;
  margin-bottom: -40px; /* c'est pour annuler l'espace qui se crée en bas à cause de la position absolute à -40px en haut de la section */
  border-radius: 40px 40px 0 0;
  border-top: 1px solid #f7f7f7;
}

.titres-pages-restaurants {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titres-pages-restaurants h1 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  margin-left: 15px;
}
.titres-pages-restaurants i {
  font-size: 1.5em;
  margin-right: 40px;
}

.articles-pages-restaurants {
  margin-bottom: 30px;
}
.articles-pages-restaurants h2 {
  font-weight: 300;
  font-size: 1em;
  margin-left: 15px;
  text-decoration: underline 3px green;
  text-underline-offset: 8px;
  margin-bottom: 20px;
}

.boutons-pages-restaurants__bouton {
  background-color: #ffffff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  width: 90%;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 12px;
  text-decoration: none;
  transition: transform 400ms;
}
.boutons-pages-restaurants__bouton:hover {
  transform: scale(1.15);
}
.boutons-pages-restaurants h3 {
  font-size: 1.1em;
  padding-top: 8px;
  padding-left: 8px;
  margin: 0;
}
.boutons-pages-restaurants__informations {
  display: flex;
  justify-content: space-between;
}
.boutons-pages-restaurants p {
  font-size: 0.9em;
  margin: 0;
  padding-top: 2px;
  padding-left: 8px;
  padding-bottom: 8px;
}
.boutons-pages-restaurants p:nth-child(1) {
  /*width: 290px;
  height: 10px;
  overflow: hidden;*/
  white-space: nowrap;
  overflow: hidden; /* j'ai trouvé cette technique ici : https://www.digitalocean.com/community/tutorials/css-prevent-line-break-fr */
  text-overflow: ellipsis;
}
.boutons-pages-restaurants__prix {
  font-weight: 700;
  padding-right: 20px;
}

#bouton_commander {
  text-decoration: none;
  margin: auto;
  margin-top: 30px;
  width: 150px;
  height: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#bouton_commander p {
  color: #ffffff;
  font-weight: 500;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* $couleur_gris_fonce: #e6e6e6;
$couleur_gris_clair: #f7f7f7;
$couleur_gris_footer: #1a1a1a;
$couleur_gris_logo: #737373;
$couleur_primaire: #9356DC;
$couleur_secondaire: #FF79DA;
$couleur_tertiaire: #99E2D0; */
.header_page_principale {
  height: 70px;
  padding-top: 10px; /* c'est pour créer un espace en haut plus important qu'en bas comme sur la maquette */
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_page_principale #logo {
  font-size: 0; /* grâe à l'inspecteur d'éléments j'ai pu voir qu'il y avait bizzarement un font-size qui créait un léger espacement en bas du logo, donc en le mettant sur zero, cela résoud le problème */
}
.header_page_principale img {
  width: 160px;
  /*border: 1px solid black;*/
}

.formulaire-localisation__div {
  height: 50px;
  background-color: #e6e6e6;
  /*border-top: 1px solid #737373 #f2f2f2;*/
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: linear-gradient;
}
.formulaire-localisation__icone {
  margin-right: 10px;
  color: #262626;
}
.formulaire-localisation__ville {
  border: none;
  background-color: #e6e6e6;
  font-size: 1em;
  font-weight: 700;
  color: #262626;
  width: 140px;
}

#section-une {
  text-align: center;
  padding-bottom: 50px;
  background-color: #f7f7f7;
}
#section-une h1 {
  margin: auto; /* pour centrer le texte */
  /*display: flex;
  justify-content: center;*/
  margin-top: 40px;
  width: 70%;
  padding-bottom: 15px;
}
#section-une p {
  margin: auto; /* pour centrer le texte */
  display: flex;
  width: 85%;
  justify-content: center;
}

#bouton-explorer {
  text-decoration: none;
  margin: auto;
  margin-top: 30px;
  width: 230px;
  height: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}
#bouton-explorer p {
  color: #ffffff;
  font-weight: 500;
}

#section-deux {
  padding-bottom: 50px;
  padding-left: 15px; /* c'est pour créer un espacement plus important à gauche des boutons comme sur la  maquette (j'aurai pu reduire le pourcentages des boutons à 85% et mettre une margin-left de 20px - et c'est ce que j'avais fait - mais mettre un padding-left à la section est plus lisible et simple à relire et à comprendre */
}
#section-deux h2 {
  margin-left: 12px;
  margin-top: 0;
  padding-top: 25px;
}

.boutons-fonctionnement__div {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.boutons-fonctionnement a {
  text-decoration: none;
  color: #000000;
}
.boutons-fonctionnement__bouton {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  width: 90%;
  border-radius: 20px;
  height: 65px;
}
.boutons-fonctionnement__numéro {
  margin-left: -10px;
  background-color: #9356DC;
  padding: 2px 7px;
  border-radius: 50px;
  color: #ffffff;
  font-weight: 500;
  font-size: 0.9rem;
}
.boutons-fonctionnement__icone {
  color: #737373;
  margin-left: 30px;
  margin-right: 20px;
}

#section-trois {
  background-color: #f7f7f7;
  padding-bottom: 40px;
}
#section-trois h2 {
  margin-left: 20px;
  padding-top: 50px;
  margin-top: 0;
}

.cards-restaurants__div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.cards-restaurants__card {
  background-color: #ffffff;
  width: 90%;
  height: 210px;
  border-radius: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  position: relative;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}
.cards-restaurants__image {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.cards-restaurants__nouveau {
  position: absolute; /* j'ai trouvé comment faire ici : https://www.w3schools.com/howto/howto_css_image_text.asp */
  top: -3px;
  right: 20px;
  background-color: #ccffdd;
  color: #00b36b;
  font-weight: 500;
  padding: 8px;
  border-radius: 3px;
}

.card-restaurant-informations {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-restaurant-informations h3 {
  color: black;
  margin: 5px 10px;
}
.card-restaurant-informations p {
  color: black;
  margin: 5px 10px;
}
.card-restaurant-informations__icone {
  color: red; /*linear-gradient(90deg, $couleur_primaire, $couleur_secondaire) */
  margin-right: 20px;
  font-size: 1.5em;
}

i:hover {
  background: linear-gradient(#FF79DA, #9356DC);
}

footer {
  background-color: #1a1a1a;
  padding-left: 20px;
  height: 210px;
}
footer p {
  font-family: "Shrikhand", cursive;
  font-size: 1.2em;
  margin-top: 0px; /* je mets ça sinon il y a un espace entre la dernère section et le footer */
  padding-top: 30px;
  margin-left: 10px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer ul {
  margin-left: 10px;
  padding: 0;
}
footer li {
  list-style-type: none;
  color: white;
  margin-bottom: 7px;
}
footer i {
  font-size: 1em;
  margin-right: 10px;
}

/* @media screen and (min-width: 1024px){
    #boutons_section_deux {
        height: auto;
        display: flex;
        flex-direction: row;
        }      

        .bouton_fonctionnement {

            background-color: blue;
            box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
            width: 90%;
            border-radius: 20px;
            height: 65px;

        }
        .chiffre_bouton_fonctionnement {
            margin-left: -10px;
            background-color: $couleur_primaire;
            padding: 2px 7px;
            border-radius: 50px;
            color: #ffffff;
            font-weight: 500;
            font-size: 0.9rem;
        }

        #section_trois #cards_section_trois {
        width: 100%;
        border: 1px solid black;
        display: flex;
        flex-direction: row;
    }
    .card_acceuil_restaurants {
        width: 600px;
        border: 1px solid black;
    }
}


@media screen and (min-width: 1440px){
    main {
        width: 1400px;
        margin: auto;
    }
    header {
        width: 100%;
    }
} */

/*# sourceMappingURL=style.css.map */
