#section-une-page-un {
    @include media-queries-tablette-bureau {
        /*margin: auto;
        width: 80%;
        max-width: 1190px;*/
        /*padding: 0 150px;*/
    }
    h1 {
        margin: auto; /* pour centrer le texte */
        /*display: flex;
        justify-content: center;*/
        padding-top: 40px;
        width: 70%;
        padding-bottom: 15px;
    }
    .paragraphe-texte-section-un {
        margin: auto; /* pour centrer le texte */
        display: flex;
        width: 85%;
        justify-content: center;
        padding-bottom: 30px;
    }
}

.div-texte-bouton-section-un {
    text-align: center;
    background-color: $couleur_gris_clair;
    padding-bottom: 50px;
    @include media-queries-bureau {
        max-width: 1500px; /* avant il y avait 1300px mais comme l'écran s'étend à 1500px avant ce media querie c'étaitbizzare de le faire se retrécir donc j'ai bloqué la width à max 1500px plutôt que 1300px */
        margin: auto;
    }
}

/*#section-une-page-un {
    text-align: center;
    padding-bottom: 50px;
    background-color: $couleur_gris_clair;
    h1 {
        margin: auto; /* pour centrer le texte */
        /*display: flex;
        justify-content: center;*/
  /*      margin-top: 40px;
        width: 70%;
        padding-bottom: 15px;
    }
    p {
        margin: auto; /* pour centrer le texte */
 /*       display: flex;
        width: 85%;
        justify-content: center;
    }
} */

#bouton-explorer {
    text-decoration: none;
    margin: auto;
    /*margin-top: 30px;*/
    width: 230px;
    height: 50px;
    @include degrade-lineaire;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include ombre-element;
    opacity: 1;
    transition-timing-function: ease;
    transition-duration: 300ms; /* Si je le mets là la page subit un leger decalage vers le bas puis le haut lorsque l'on la raffraichit, et si je le mets dans le :hover ça ne le fait plus, or, il n'y à plus de transition lorsque le bouton revient a son opacité d'origine, c'est trop brutal, donc je vais demander l'avis du mentor */
    p {
        color: #ffffff;
        font-weight: 500;
    }
    &:hover {
        opacity: 0.9;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.3);
    }
}


#section-deux-page-un {
    /*border: 1px solid black;*/
    border: 1px solid black;
    padding-bottom: 50px; 
    @include media-queries-tablette {
        padding-bottom: 10px;
    }
    @include media-queries-tablette-bureau {
        padding: 0 100px;
    }
    @include media-queries-bureau {
        max-width: 1300px; /* j'ai mis 1300px pour avoir un résultat de 1500px au total (car la section à un padding right et left de 100px à un certain breakpoint) le résultat est vérifiable via l'inspecteur d'élément */
        margin: auto;
    }
    h2 {
        /*border: 1px solid black;*/
        border: 1px solid black;
        margin-left: 20px;
        margin-top: 0;
        margin-bottom: 20px;
        padding-top: 25px;
        /*@include media-queries-mobile {
            display: flex;
            justify-content: center;
        }*/
        @include media-queries-tablette {
            margin-left: 50px;
        } 
        @include media-queries-tablette-bureau {
            max-width: 1190px;
            margin: auto;
            padding-bottom: 20px; /* commme la margin n'y est plus à cause de la margin: auto; qui centre le titre, je la remplace par un padding-bottom: 20px;  */
        } 
    }    
}

@mixin explorer-couleur-hover($colour: $couleur_primaire){
    @if ( lightness($colour) < 25% ) {
        $colour: lighten($colour, 10%);
     }@else{
        $colour: darken($colour, 10%);
     }
}

.boutons-fonctionnement {
    &__div{
    border: 1px solid black;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;  /* c'est pour que les numéros 1-3 sur les boutons ne soient pas hors de la div main bien alignés verticalement avec le titre de la section (ce qui crée un espace plus iportant à gauche qu'à droite comme cela est représenté sur la maquette */
    margin: 0 20px; /* c'est pour avoir la même configuration que les cards plus bas */
    /*@include media-queries-mobile {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin-left: 12px;
        height: auto;
    }*/
    @include media-queries-tablette {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        margin-left: 50px; /*c'est pour compenser le décentrage des boutons due à leur margin-right en responsive version tablette tablette et donc les avoir toujours centrés */
    }   
    @media screen and (min-width: 1160px){ 
        justify-content: flex-start;
    }
    @include media-queries-tablette-bureau {
        max-width: 1190px;
        margin: auto;
        padding: 0;/* il est désormais inutile à cette dimension d'écran et c'est pour éviter qu'un décalage se crée entre la longeur de cette div et des autres (titre de la section et titre et div de la section restaurants, c'était visible en mettant à tout un border: 1px solid black; et en arrivant à une certaine dimension de l'écran grâce au testeur de responsive de l'inspecteur d'éléments */
    }  
    }
    a {
        text-decoration: none;
        color: #000000;
    }  
    &__bouton {
        display: flex;
        align-items: center;
        background-color: $couleur_gris_clair;
        @include ombre-element;
        width: 100%;
        max-width: 320px; 
        border-radius: 20px;
        height: 65px;
        transition-duration: 300ms;
        transition-timing-function: ease;
        /*@include media-queries-mobile {
            margin-right: 50px;
        }*/
        @include media-queries-tablette {
            margin-bottom: 30px;
            margin-right: 40px;
        }
        @include media-queries-tablette {
            width: 330px;
        }
    }
    &__bouton:hover {
        /*background-color: $couleur_gris_fonce;*/
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
        /*@include explorer-couleur-hover($couleur_primaire);*/
        @include test-hover;
    }
    &__numéro {
        margin-left: -10px;
        background-color: $couleur_primaire;
        padding: 2px 7px;
        border-radius: 50px;
        color: #ffffff;
        font-weight: 500;
        font-size: 0.9rem;
    }
    &__icone
    {
        color: $couleur_gris_logo;
        margin-left: 30px;
        margin-right: 20px;
    }
    &__bouton:hover &__icone {
        color: $couleur_primaire;
    }
    h3 {
        margin-right: 15px;
    }
} 

.div-section-deux-page-un-centrage-boutons {
    border: 1px solid black;
    @include media-queries-tablette-bureau {
        max-width: 1180px;
        margin: auto;
        padding-left: 10px;
    }
}

/*body {
    @include media-queries-bureau {
        max-width: 1500px; /* avant il y avait 1300px mais comme l'écran s'étend à 1500px avant ce media querie c'étaitbizzare de le faire se retrécir donc j'ai bloqué la width à max 1500px plutôt que 1300px */
      /*  margin: auto;
    }
} */

#section-trois-page-un {
    /*border: 1px solid black;*/
    background-color: $couleur_gris_clair;
    padding-bottom: 40px;
    @include media-queries-tablette-bureau {
        padding: 0 100px;
    }
    @include media-queries-bureau {
        max-width: 1300px; /* j'ai mis 1300px pour avoir un résultat de 1500px au total (car la section à un padding right et left de 100px à un certain breakpoint) le résultat est vérifiable via l'inspecteur d'élément */
        margin: auto;
    }
    h2 {
        /*border: 1px solid black;*/
        margin-left: 20px;
        margin-bottom: 20px;
        padding-top: 50px; 
        margin-top: 0;
        @include media-queries-tablette {
            margin-left: 50px;
        }
        @include media-queries-tablette-bureau {
            /*margin-left: 0;*/
            max-width: 1190px;
            /*margin: auto;*/
            /*padding-right: 30px;*/
            margin: auto;
            padding-bottom: 20px; /* commme la margin n'y est plus à cause de la margin: auto; qui centre le titre, je la remplace par un padding-bottom: 20px;  */ 
        }
    }
}


.cards-restaurants {
    &__div {
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 20px;
    @include media-queries-tablette {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 50px;
    }
    @include media-queries-tablette-bureau {
        max-width: 1190px;
        margin: auto;
    }
   
    }
    &__card {
        background-color: #ffffff;
        width: 100%;
        height: 210px;
        border-radius: 20px;
        margin-bottom: 20px;
        text-decoration: none;
        position: relative;
        @include ombre-element;
        @include media-queries-tablette {
            /*width: 300px;*/
            width: 46.5%;
            margin-bottom: 30px;
        }
        /*@include media-queries-tablette-bureau {
            width: 100%;
            margin-bottom: 30px;
        }*/
    }
    /*&__card:nth-child(4) {
        @include media-queries-bureau {
            width: 92%;
        }
    }*/
    
    &__image {
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
    &__nouveau {
        position: absolute; /* j'ai trouvé comment faire ici : https://www.w3schools.com/howto/howto_css_image_text.asp */
        top: 1px;
        right: 12px;
        background-color: $couleur_tertiaire;
        color: darken($couleur_tertiaire, 40%);
        font-weight: 500;
        font-size: 0.84em;
        padding: 5px 12px;
        border-radius: 3px;
    }
}

.card-restaurant-informations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
        color: black;
        margin: 5px 10px;
    }
    p {
        color: black;
        margin: 5px 10px;
    }
    &__icone {
        color: red; /*linear-gradient(90deg, $couleur_primaire, $couleur_secondaire) */
        margin-right: 20px;
        font-size: 1.5em;
    }
    /*i:hover {
        background: linear-gradient($couleur_secondaire, $couleur_primaire);
    }*/
    &__icone-vide {
        font-size: 1.5em;
        margin-right: 20px;
        color: black;
        opacity: 1;
        transition: all 0.3s ease-in;
    }
    &__icone-remplie {
        font-size: 1.5em;
        position: absolute;
        right: 20px;
        opacity: 0;
        transition: all 0.3s ease-in;
        text-decoration: none;
        color: transparent;
        background-clip: text;
        background: linear-gradient(#9356DC, #FF79DA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__div-favoris:hover &__icone-remplie {
        opacity: 1;
    }
    &__div-favoris:hover &__icone-vide {
        opacity: 0;
    }
}


