/* PAGES RESTAURANTS */

@use 'sass:math'; /* c'est le terminal sass qui m'a dit d'utiliser ça plutôt que de metttre 1000ms / 10 * $i pour l'animation de chargement des boutons */


.section_img {
    img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    @include media-queries-tablette-bureau {
        height: 300px;
    }
    }
}

.section-pages-restaurants { 
    background-color: $couleur_gris_clair;
    padding-bottom: 30px;
    position: relative;
    top: -40px;
    margin-bottom: -40px; /* c'est pour annuler l'espace qui se crée en bas à cause de la position absolute à -40px en haut de la section */
    border-radius: 40px 40px 0 0;
    @include media-queries-tablette {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    @include media-queries-tablette-bureau {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.div-articles-pages-restaurants {
    @include media-queries-tablette-bureau {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
    }  
}

.titre-pages-restaurants {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px; /* c'est pour éviter d'avoir à le mettre sur le &__icone-vide pour qu'il soit à la bonne position, parce que sinon en hover le curseur étant à 20px sur la droite du coeur active le remplissage de l'icone */ 
    h1 {
        font-family: 'Shrikhand', cursive;
        font-weight: normal;
        margin-left: 15px;
    }
    &__icone-vide {
        font-size: 1.5em;
        color: black;
        opacity: 1;
        transition: all 0.3s ease-in;
    }
    &__icone-remplie {
        font-size: 1.5em;
        position: absolute;
        right: 40px;
        opacity: 0;
        transition: all 0.3s ease-in;
        text-decoration: none;
        color: transparent;
        background-clip: text;
        background: linear-gradient(#9356DC, #FF79DA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__div-favoris:hover &__icone-remplie {
        opacity: 1;
    }
    &__div-favoris:hover &__icone-vide {
        opacity: 0;
    }
}


.articles-pages-restaurants {
    margin-bottom: 30px;
    h2 {
        font-weight: 300;
        font-size: 1em;
        padding-left: 15px;
        margin: 0;
        @include media-queries-tablette-bureau {
            padding-left: 0;
        }
    }
    .h2_souligne {
        margin: 5px 0 13px 15px;
        width: 40px;
        border-top: 3px solid $couleur_tertiaire;
        @include media-queries-tablette-bureau {
            margin-left: 0;
        }
    }
} 

.boutons-pages-restaurants {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    @include media-queries-tablette-bureau {
        width: 312px;
        margin-left: 0;
    }
    &__bouton {
    background-color: #ffffff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
    width: 100%;
    border-radius: 15px;
    margin-bottom: 12px;
    text-decoration: none;
    color: #000000;
    display: inline-block;
    position: relative;
    overflow: hidden;
    animation: chargement-boutons-pages-restaurants 1200ms forwards;
        @for $i from 1 through 10 {
            &--#{$i} {
                animation-delay: math.div(1200ms, 10) * $i; /* c'est le terminal sass qui m'a dit d'utiliser ça plutôt que de metttre 1000ms / 10 * $i */
             }
        }
    opacity: 0;
    @include media-queries-tablette-bureau {
        width: 100%;
    }
    }
    h3 {
        font-size: 1.1em;
        padding-top: 8px;
        padding-left: 8px;
        padding-right: 15px;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;     /* j'ai trouvé cette technique ici : https://www.digitalocean.com/community/tutorials/css-prevent-line-break-fr */
        text-overflow: ellipsis;
    }
    &__informations {
        display: flex;
        justify-content: space-between;
        flex: 1;
    }
    p {
        font-size: 0.9em;
        margin: 0;
        padding-top: 2px;
        padding-left: 8px;
        padding-bottom: 8px;
    }
    p:nth-child(1) {
        white-space: nowrap;
        overflow: hidden;     /* j'ai trouvé cette technique ici : https://www.digitalocean.com/community/tutorials/css-prevent-line-break-fr */
        text-overflow: ellipsis;
    }
    &__prix {
        font-weight: 700;
        padding-right: 20px;
        transition-duration: 300ms;
        transition-timing-function: ease;
    }
    &__bouton:hover &__remplissage-droite {
        opacity: 1;
        right: 0;
        transition-duration: 300ms;
        transition-timing-function: ease;
    }
    &__bouton:hover &__prix {
        margin-right: 50px;
    }
    &__bouton:hover h3 {
        margin-right: 35%; /* je mets ça pour que le texte subisse un effet caché avec trois petits points lorsque la partie check à droite est apparente, pour que ça ressemble à ce qui est indiqué sur la maquette, même si ça me parait étonnat que le texte soit caché si tôt, mais c'est sur la maquette */
    }
    &__remplissage-droite {
        background-color: $couleur_tertiaire;
        border-radius: 0px 15px 15px 0;
        width: 55px;
        height: 57px;
        position: absolute;
        top: 0px;
        right: -100px;
        opacity: 0; /* avant d'arriver on ne voit pas sa transparence mais quand le curseur de la souris sort du bouton, on voit un effet de transparence s'appliquer au remplissage un peu après avoir fini de disparaitre, chose assez esthétique, je vais demander au mentor si je l'enlève pour etre parfaitement comme dans la vidéo de l'effet dans la maquette ou si je le laisse */
        transition-timing-function: ease;
        transition-duration: 500ms;
        display: flex; /* pour l'icone */
        align-items: center;
        justify-content: center;
    }
    &__icone-remplissage {
        display: inline-block;
        color: white;
        font-size: 1.4em;
        rotate: 90deg;
        transition: transform 500ms ease-in-out;
    }
    &__bouton:hover &__icone-remplissage {
         transform: rotate(270deg);
    }
}

.boutons-pages-restaurants__bouton_plat {
    animation-delay: 8s;
}

#bouton_commander {
    text-decoration: none;
    margin: auto;
    margin-top: 30px;
    width: 150px;
    height: 50px;
    background: linear-gradient($couleur_secondaire, $couleur_primaire);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition-duration: 300ms;
    transition-timing-function: ease;
    @include media-queries-tablette-bureau {
        margin-top: 0;
    }
    p {
        color: #ffffff;
        font-weight: 500;
    }
    &:hover {
        opacity: 0.9;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.3);
    }
}


