@keyframes page-chargement-fond {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 0.9;
    }
    100% {
        opacity: 0; 
        right: -3000px; /* je peux aussi mettre visibility: hidden; pour enlever l'affichage de l'écran de chargement puisque juste avec une opacity de 0, il reste en premier plan et bouche les hover des boutons */
    }   
} 

@keyframes page-chargement-cerle {
    0% {
      right: 0;
      transform: rotate(0deg);
    }
    100% {
      right: 0;
      transform: rotate(360deg);
    }
}
  
  
@keyframes page-chargement-texte {
    0% {
        opacity: 0;
    }
  
    50% {
        opacity: 0.2;
    }
  
    100% {
        opacity: 1;
    }
}


@keyframes chargement-boutons-pages-restaurants {
    0% {
        opacity: 0; 
    }  
    20% { /* c'est pour qu'il y ait un moment plus long avant que les boutons apparaissent comme montré dans la maquette animations, mais je ne sais pas si laisser le 0% d'au-dessus est nécessaire */
        opacity: 0;
        transform: translatey(17px);
    }
    100% {
        opacity: 1;
        transform: translatey(0px); 
    }
} 

