@import "./variables";


@mixin ombre-element {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
}

@mixin degrade-lineaire {
    background: linear-gradient($couleur_secondaire, $couleur_primaire);
}



@mixin media-queries-mobile {
    @media screen and (min-width: 400px){
        @content;
    }
}

@mixin media-queries-tablette {
    @media screen and (min-width: 768px){
        @content;
    }
}

@mixin media-queries-tablette-bureau {
    @media screen and (min-width: 1300px){ /* avant il y avait 1020px. je pourrai mettre 1200px mais ça ne change rien (notamment car sur l'inspecteur d'éléments de chrome la dimension d'un ordinateur portable L est de 1440px, donc les 1300px de ce media querie sont dans les clous */
        @content;
    }
}

@mixin media-queries-bureau {
    @media screen and (min-width: 1510px){
        @content;
    }
}


