footer {
    background-color: $couleur_gris_footer;
    padding-left: 20px;
    height: 210px;
    p {
        font-family: 'Shrikhand', cursive;
        font-size: 1.2em;
        margin-top: 0px; /* je mets ça sinon il y a un espace entre la dernère section et le footer */
        padding-top: 30px;
        margin-left: 10px;
    }
    a {
    text-decoration: none;
    color: white;
    }
    ul {
        margin-left: 10px;
        padding: 0;
    }
    li {
    list-style-type: none;
    color: white;
    margin-bottom: 7px;
    }
    i {
        font-size: 1em;
        margin-right: 10px;
    }
}