/* FOOTER */

footer {
    background-color: $couleur_gris_footer;
    padding-left: 20px;
    height: 210px;
    @include media-queries-tablette {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        padding-left: 0;
        align-items: center;
    }
    p {
        font-family: 'Shrikhand', cursive;
        font-size: 1.2em;
        margin-top: 0px; /* je mets ça sinon il y a un espace entre la dernère section et le footer */
        padding-top: 30px;
        margin-left: 10px;
        @include media-queries-tablette {
            padding-top: 0px;
            margin-bottom: 15px;
        }
    }
    a {
    text-decoration: none;
    color: white;
    @include media-queries-tablette {
        margin-bottom: 0;
    }
    }
    ul {
        margin-left: 10px;
        padding: 0;
        @include media-queries-tablette {
            display: flex;
            margin-top: 30px;
            margin-bottom: 10px;
        }
    }
    li {
        list-style-type: none;
        color: white;
        margin-bottom: 7px;
        @include media-queries-tablette {
            border-right: 3px solid white;
            margin-right: 10px;
            padding-right: 10px;
        }
    }
    li:nth-child(4) {
        border-right: none;
    }
    li:hover {
        text-decoration: underline;
    }
    i {
        font-size: 1em;
        margin-right: 10px;
    }
}


