.formulaire-localisation {
    /*box-shadow: inset 0 7px 9px -7px #000000;*/
    /*box-shadow: inset 0 1px 6px 0px rgba(0,0,0,0.5);*/
    box-shadow: inset 0 8px 6px -7px rgba(0,0,0,0.2);
    height: 50px;
    background-color: $couleur_gris_fonce;
    /*border-top: 1px solid #737373 #f2f2f2;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: linear-gradient;
    &__icone {
        margin-right: 10px;
        color: #4d4d4d;
    }
    &__ville
    {
        border: none;
        background-color: $couleur_gris_fonce;
        font-size: 0.97em;
        font-weight: 700;
        color: #4d4d4d;
        width: 140px;
    }
}


