.header_page_principale {
    height: 70px;
    padding-top: 10px; /* c'est pour créer un espace en haut plus important qu'en bas comme sur la maquette */
    display: flex;
    justify-content: center;
    align-items: center;
    /*box-shadow: 0 0 1.5rem rgb(0 0 0 / 25%);*/
    #logo {
        font-size: 0; /* grâe à l'inspecteur d'éléments j'ai pu voir qu'il y avait bizzarement un font-size qui créait un léger espacement en bas du logo, donc en le mettant sur zero, cela résoud le problème */
    }    
    img {
        width: 160px;
        /*border: 1px solid black;*/
    }
}

.header_pages_restaurants {
    height: 70px;
    padding-top: 10px; /* c'est pour créer un espace en haut plus important qu'en bas comme sur la maquette */
    display: flex;
    justify-content: center;
    align-items: center;
    /*#logo {
        font-size: 0; /* grâe à l'inspecteur d'éléments j'ai pu voir qu'il y avait bizzarement un font-size qui créait un léger espacement en bas du logo, donc en le mettant sur zero, cela résoud le problème */
    /*} */ 
    i {
        position: absolute;
        left: 0px;
        top: 35px;
        margin-left: 30px;
        font-size: 1.3em;
        color: #000000;
    }  
    img {
        width: 160px;
        /*border: 1px solid black;*/
    }
}